body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  color: white;
  background-color: #040714;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background-color: #111;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(249, 249, 249);
  border-radius: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
